.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*

pnpm-lock.yaml
out/test/
src/
test/
tests/
coverage/
.vscode/
.git/
.github/
*.vsix

out/commands/test/
out/app/